body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 1rem;
    border-radius: 1rem;
}

h1 {
    color: white;
}

a {
  color: #ffffff;        /* Cambia el color del texto */
  font-size: 20px;       /* Cambia el tamaño del texto */
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold;     /* Texto en negrita */
}

.link {
    font-size: 2rem;
}